*{
  margin: 0;
  padding: 0; 
}

/*CORPO E PARAGRAFOS*/
body{
  font-weight: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181
}

/*TITULOS E SUBTITULOS*/
h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
}
h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
}


/*ESTILIZA OS GLYPHICONS*/
.logo{
  font-size: 200px;
 }


/*TODO - AJUSTA ESPAÇAMENTO DOS GLYPHICONS*/

 @media screen and(max-width: 768px){
    .col-sm-4{
      text-align: center;
      margin: 25px;
    }
 }


/*JUMBOTRON*/
/*
.jumbotron{
  background-color: #42a5f5;
  background-image: url('../img/main1.jpg');
  background-repeat: no-repeat center center;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 100px 25px;
  font-weight: 400;
  margin-bottom: 30px;
  min-height: 400px;
  margin-top: 0px;
  margin-bottom: 8px;
}
*/

.jumbotron{
  background-color: #bdc3c7;
  background-repeat: no-repeat center center;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #fff;
  padding: 100px 25px;
  font-weight: 400;
  margin-bottom: 30px;
}

/*Efeito paralax*/

/*
.header-paralax{
  background-image: url('../img/main1.jpg');
  height: 200px;
  letter-spacing: 20px;
  font-size: 50px;
  padding: 210px 0;
  max-width: 100%;
  height: auto;
}
*/

/*Deixa imagem de fundo responsiva*/
.header-paralax {
    position: relative;
    background: #000 url('../img/main1.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

/*SESSÃO QUEM SOMOS
.quemsomos{
    width: 300px;
    height: 300px;
    border: 0,5px solid #42a5f5;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 60px;
    
}*/

.imagem-responsiva{
  max-width: 100%;
  height: auto;
}

/*COR DE FUNDO NOSSOS VALORES*/
.bg-gray{
  background-color: #f6f6f6;
}

/*ALTERA CORES DE TODOS ICONES E CONFIGURA O FONT-SIZE*/
.logo-small{
  color: #42a5f5;
  font-size: 50px;
}


.logo{
  color: #42a5f5;
  font-size: 200px;
}

/*CONTAINER SESSÃO DE SERVIÇOS*/
.container-fluid{
  padding: 60px 50px;
}

/*ESTILIZANDO AS THUMBNAILS*/
.thumbnail{
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img{
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}


/*CAROUSEL*/

.carousel-control.right, .carousel-control.left{
  background-color: none;
  color: #42a5f5;
}

.carousel-indicators{
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  text-align: center;
  list-style: none;
}

/*
li{
  display: inline-block;
  height: 10px;
  margin: 1px;
  border: 1px solid @carousel-indicators-border-color;
  border-radius: 10px;
  cursor: pointer;
}
*/
.carousel-indicators li{
  background-color: #42a5f5;
}

.carousel-indicators li.active{
  background-color: #42a5f5;
}

.item h4{
  font-size: 19px;
  line-height: 1.375em;
  font-style: italic;
  margin: 70px 0;
}

.item span{
  font-style: normal;
}

.carousel-inner{
  position: relative;;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*PAINEL DE PREÇOS*/

.panel{
  border: 1px solid #42a5f5;
  border-radius: 0;
  transition: box-shadow 0.5s;
}

.panel:hover{
  box-shadow: 5px 0px 40px rgba(0,0,0, 1.0);
}

.panel-footer .btn:hover{
  border: 1px solid #42a5f5;
  background-color: #fff !important;
  color: #42a5f5;
}

.panel-heading{
  color: #fff !important;
  background-color: #42a5f5 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-footer{
  background-color: #fff;
}

.panel-footer h3{
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn{
  margin: 15px 0;
  background-color: #42a5f5;
  color: #fff;
}

/*GOOGLE MAPS API*/

#googleMap{
  height: 400px;
  width: 100%;
}

/*NAVBAR - BARRA DE NAVEGAÇÃO*/

.navbar{
  margin-bottom: 0;
  background-color: #42a5f5;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand{
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a{
  color: #006400 !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle{
  border-color: transparent;
  color: #fff !important;
}

/*FOOTER*/

footer .glyphicon{
  font-size: 20px;
  margin-bottom: 20px;
  color: #42a5f5;
}

/*Classes para ajustes do footer- .ajst-*/

.ajst-padding{
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.ajst-center{
  text-align: center !important;
}

.ajst-xlarge{
  font-size: 24px !important;
}

.ajst-opacity, .ajst-hover-opacity{
  padding: 0.60;
}

.ajst-container{
  padding: 0.01em 16px;
}

.ajst-fonte-rodape{
  font-size: 15px !important;
}

.ajst-bg{
  font: #fff;
  background-color: #42a5f5; 
}

/*Redes sociais. fonte-awesome*/

.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


/*SUAVIZA OS ELEMENTOS DA PÁGINA*/

.slideanim {visibility: hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
